/*
 * Feel free to change name of colors if you need it
 * Feel free to add new colors if you need it
 */
:root {
  --bg-color--dark: #0b192f;
  --bg-color--header: #024161;
  --link: #fff;
  --link--hover: #1f52a4;
  --footer-color: #637693;
  --bg-footer-color: #024161;
  --bg-color-news: #fff;
  --post-color: #fff;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--bg-color--dark);
  color: #000;
}
.post-1 {
	background: #9d27b0;
}
.post-2 {
	background: #9bb800;
}
.post-3 {
	background: #ed5120;
}
.post-4 {
	background: #9d27b0;
}
.post-5 {
	background: #2d95bb;
}

/* Your styles go here */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.page-wrap{
  position: relative;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}
.header{
  background-color: var(--bg-color--header);
  padding: 0px 40px 0px 15px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
}
.logo a {
    color: #fff;
    text-decoration: none;
    font-size: 30px;
}
.logo a span{
  color: #A93762;
}

.header__nav ul{
  list-style: none;
}
.header__nav ul li {
  display: inline-block;
}
.header__nav ul li:hover{
  background-color: #1f52a4;
}
.header__nav ul li a{
  color: var(--link);
  text-decoration: none;
  display: inline-block;
  padding: 30px;
}

.main-post-item{
  background: url(../img/post0.jpg) center no-repeat;
  background-size: cover;
  margin-bottom: 20px;
  padding: 30px;
}

main{}
.post-item {
  display: flex;
}
.post-item:nth-child(even) .post-item-desc-wrap {
    text-align: right;
}
.post-item:nth-child(odd) .post-item-desc-wrap {
    text-align: left;
}
.post-item-fw{
	padding: 40px;
	flex-direction: column;
}
.post-item-img-wrap{}
.post-item-img {
  width: 100%;
}
.post-item-desc-wrap{
	padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.post-item-title{
	color: var(--post-color);
    font-size: 34px;
    font-weight: 300;
    margin-bottom: 15px;
}
.post-item-desc{
	color: var(--post-color);
}

aside{}
.news-item{
  background-color: var(--bg-color-news);
}
.news-item-img{
  width: 100%;
}
.news-item-desc-wrap{
	padding: 20px;
}
.news-item-title{
	font-size: 26px;
    font-weight: 400;
    margin-bottom: 15px;
}
.news-item-desc{}

.footer{
  background-color: var(--bg-footer-color);
  color: var(--footer-color);
  padding: 20px 15px;
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 1400px) {}
@media only screen and (max-width: 768px) {
	.header {
	   flex-direction: column;
	}
  	.post-item {
	   flex-direction: column;
	}
	.post-item-img-wrap {
	    order: 1;
	}
	.post-item-desc-wrap {
	    order: 2;
	}
	.post-item:nth-child(even) .post-item-desc-wrap {
	    text-align: left;
	}
}
@media only screen and (max-width: 480px) {}