* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background: #fff;
  font-family: "Source Sans Pro", sans-serif; }

.header-wrap, .section_card_wrap, .footer-wrap {
  width: 100%;
  max-width: 1240px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }

.header-wrap .login, .section_card_wrap .section_card .section_card_right_container .section_link {
  color: #fff; }
  .header-wrap .login:hover, .section_card_wrap .section_card .section_card_right_container .section_link:hover {
    color: #e3e3e3; }

.header-wrap .header_button, .section_banner_button {
  background-color: #699900;
  color: #fff;
  border-radius: 2px;
  padding: 10px 35px;
  font-size: 13px;
  font-weight: bold; }
  .header-wrap .header_button:hover, .section_banner_button:hover {
    background-color: #77ad00;
    cursor: pointer; }
  .header-wrap .header_button:focus, .section_banner_button:focus {
    outline: none;
    box-shadow: none; }

.header {
  background: #21232E url(../img/m-h-day.jpg) center no-repeat;
  background-size: 100%;
  padding: 20px 0 140px;
  border-bottom-right-radius: 600px 200px; }
  @media (max-width: 768px) {
    .header {
      background-size: cover;
      padding: 20px 0 80px; } }
  .header-wrap .landing-logo {
    display: flex;
    align-items: center;
    margin-bottom: 60px; }
    .header-wrap .landing-logo img {
      width: 36px;
      height: 36px;
      margin-right: 10px; }
    .header-wrap .landing-logo p {
      font-size: 20px; }
      .header-wrap .landing-logo p span {
        text-align: center;
        display: block;
        font-size: 8px; }
    @media (max-width: 480px) {
      .header-wrap .landing-logo {
        margin-bottom: 30px; } }
    .header-wrap .landing-logo p {
      color: #2C2F3C; }
  .header-wrap .header_heading {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 56px;
    line-height: 60px;
    letter-spacing: 1px;
    color: #2C2F3C;
    font-weight: bold;
    max-width: 450px;
    margin-bottom: 25px;
    position: relative;
    z-index: 1; }
    .header-wrap .header_heading::before {
      content: '';
      background-color: #14A0C7;
      display: inline-block;
      position: absolute;
      bottom: 0px;
      z-index: -1;
      width: 240px;
      height: 45px;
      left: 0; }
    @media (max-width: 480px) {
      .header-wrap .header_heading {
        font-size: 40px;
        line-height: 50px; }
        .header-wrap .header_heading::before {
          content: '';
          background-color: #14A0C7;
          display: inline-block;
          position: absolute;
          z-index: -1;
          width: 176px;
          height: 45px; } }
  .header-wrap .header_text {
    color: #2C2F3C;
    font-size: 14px;
    line-height: 20px;
    white-space: pre-line;
    margin-bottom: 45px; }
  .header-wrap .header_button {
    margin-right: 115px; }
    @media (max-width: 480px) {
      .header-wrap .header_button {
        display: block;
        margin-bottom: 15px; } }

.section {
  position: relative;
  padding: 30px 0px 140px; }
  .section_text {
    font-family: "Hind", sans-serif;
    position: relative;
    z-index: 1;
    color: #2C2F3C;
    font-size: 30px;
    letter-spacing: 1px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 25px; }
    .section_text::before {
      content: '';
      background-color: #14A0C7;
      display: inline-block;
      position: absolute;
      bottom: 10px;
      z-index: -1;
      width: 150px;
      height: 45px;
      margin-left: 175px; }
    @media (max-width: 480px) {
      .section_text {
        font-size: 26px; }
        .section_text::before {
          content: '';
          background-color: #14A0C7;
          display: inline-block;
          position: absolute;
          z-index: -1;
          width: 130px;
          height: 45px;
          margin-left: 155px; } }
  .section_card_wrap {
    width: 100%;
    max-width: 920px; }
    .section_card_wrap .section_card {
      display: flex;
      align-items: center;
      background-color: #21232E;
      border-radius: 5px;
      padding: 15px;
      margin-bottom: 20px; }
      @media (max-width: 768px) {
        .section_card_wrap .section_card {
          flex-direction: column; } }
      .section_card_wrap .section_card .section_card_img {
        border-radius: 4px;
        margin-right: 70px;
        width: 100%;
        max-width: 340px; }
        @media (max-width: 768px) {
          .section_card_wrap .section_card .section_card_img {
            margin-bottom: 15px;
            margin-right: 0; } }
      .section_card_wrap .section_card .section_card_right_container {
        flex: 1;
        text-align: center;
        color: #fff;
        padding: 0 70px 0 0; }
        @media (max-width: 768px) {
          .section_card_wrap .section_card .section_card_right_container {
            padding: 0; } }
        .section_card_wrap .section_card .section_card_right_container .section_card_heading {
          font-size: 18px;
          font-weight: bold;
          margin-bottom: 20px; }
        .section_card_wrap .section_card .section_card_right_container .section_card_text {
          font-size: 14px;
          text-align: justify;
          margin-bottom: 15px; }
        .section_card_wrap .section_card .section_card_right_container .section_link {
          font-size: 13px; }
  .section_banner {
    background: linear-gradient(to right, #629217, #3260C6);
    border-radius: 5px;
    padding: 30px 125px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 50%;
    bottom: -55px;
    transform: translate(-50%, 0);
    width: 100%;
    max-width: 950px; }
    @media (max-width: 768px) {
      .section_banner {
        flex-direction: column;
        padding: 30px 15px; } }
    .section_banner_text_wrap .section_banner_heading {
      position: relative;
      z-index: 1;
      color: #2C2F3C;
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 10px; }
      .section_banner_text_wrap .section_banner_heading::before {
        content: '';
        background-color: #14A0C7;
        display: inline-block;
        position: absolute;
        bottom: 0px;
        z-index: -1;
        width: 47px;
        height: 45px;
        left: 98px; }
      @media (max-width: 480px) {
        .section_banner_text_wrap .section_banner_heading {
          font-size: 20px; }
          .section_banner_text_wrap .section_banner_heading::before {
            left: 78px; } }
    .section_banner_text_wrap .section_banner_text {
      font-size: 13px;
      color: #fff; }
      @media (max-width: 768px) {
        .section_banner_text_wrap .section_banner_text {
          margin-bottom: 15px; } }

.footer {
  padding: 100px 0px 60px;
  background-color: #21232E;
  color: #fff; }
  @media (max-width: 480px) {
    .footer {
      padding: 80px 0px 30px; } }
  .footer-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px; }
    @media (max-width: 480px) {
      .footer-wrap {
        flex-direction: column; } }
    .footer-wrap .footer_logo {
      display: flex;
      align-items: center;
      color: #fff; }
      .footer-wrap .footer_logo img {
        width: 36px;
        height: 36px;
        margin-right: 10px; }
      .footer-wrap .footer_logo p {
        font-size: 20px; }
        .footer-wrap .footer_logo p span {
          text-align: center;
          display: block;
          font-size: 8px; }
      @media (max-width: 480px) {
        .footer-wrap .footer_logo {
          margin-bottom: 15px; } }
    .footer-wrap .footer_text {
      width: 100%;
      max-width: 242px; }
      @media (max-width: 480px) {
        .footer-wrap .footer_text {
          text-align: center;
          margin-bottom: 15px; } }
    .footer-wrap .footer-cr {
      letter-spacing: 0.5px; }

/*# sourceMappingURL=style1.css.map */
