* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background: #21232E;
  font-family: "Source Sans Pro", sans-serif; }

.size-wrap, .header .header-wrap, main.section .section_card_wrap, .footer .footer-wrap {
  width: 100%;
  max-width: 1240px;
  padding: 0;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }

.textBg, .header .header-wrap .header_heading::before, main.section .section_text::before, main.section .section_banner .section_banner_text_wrap .section_banner_heading::before {
  content: '';
  display: inline-block;
  background-color: #FF4E33;
  z-index: -1;
  height: 45px; }

.button, .header .header-wrap .header_button, main.section .section_banner .section_banner_button {
  background-color: #E3AC00;
  color: #fff;
  border: 1px solid #E3AC00;
  border-radius: 2px;
  padding: 10px 35px;
  font-size: 13px;
  font-weight: bold; }
  .button:hover, .header .header-wrap .header_button:hover, main.section .section_banner .section_banner_button:hover {
    background-color: #f7bb00;
    cursor: pointer; }
  .button:focus, .header .header-wrap .header_button:focus, main.section .section_banner .section_banner_button:focus {
    outline: none;
    box-shadow: none; }

.header {
  background-image: url(../img/m-h-night.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 100%;
  padding: 20px 0 140px;
  border-bottom-right-radius: 600px 200px; }
  .header .header-wrap .landing-logo {
    display: flex;
    align-items: center;
    margin-bottom: 60px; }
    .header .header-wrap .landing-logo img {
      width: 36px;
      height: 36px;
      margin-right: 10px; }
    .header .header-wrap .landing-logo p {
      font-size: 20px; }
      .header .header-wrap .landing-logo p span {
        text-align: center;
        display: block;
        font-size: 8px; }
  .header .header-wrap .header_heading {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 56px;
    line-height: 60px;
    letter-spacing: 1px;
    font-weight: bold;
    max-width: 450px;
    margin-bottom: 25px;
    position: relative;
    z-index: 1; }
    .header .header-wrap .header_heading::before {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 240px; }
  .header .header-wrap .header_text {
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    white-space: pre-line;
    margin-bottom: 45px; }
  .header .header-wrap .header_button {
    margin-right: 115px; }
  .header .header-wrap .login {
    color: #fff; }

main.section {
  position: relative;
  padding: 30px 0 140px; }
  main.section .section_text {
    position: relative;
    z-index: 1;
    color: #fff;
    font-size: 30px;
    letter-spacing: 1px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px; }
    main.section .section_text::before {
      position: absolute;
      bottom: 0;
      margin-left: 167px;
      width: 150px; }
  main.section .section_card_wrap {
    margin: 0 auto;
    width: 100%;
    max-width: 890px;
    margin-bottom: 20px; }
    main.section .section_card_wrap .section_card {
      display: flex;
      align-items: center;
      background-color: #3B3F50;
      border-radius: 5px;
      padding: 15px;
      margin-bottom: 20px; }
      main.section .section_card_wrap .section_card .section_card_img {
        border-radius: 4px;
        margin-right: 70px;
        width: 100%;
        max-width: 340px; }
      main.section .section_card_wrap .section_card .section_card_right_container {
        text-align: center;
        color: #fff; }
        main.section .section_card_wrap .section_card .section_card_right_container .section_card_heading {
          font-weight: bold;
          margin-bottom: 20px; }
        main.section .section_card_wrap .section_card .section_card_right_container .section_card_text {
          text-align: left;
          margin-bottom: 15px; }
        main.section .section_card_wrap .section_card .section_card_right_container .section_link {
          color: #fff; }
  main.section .section_banner {
    background: linear-gradient(to right, #99374B, #DB9F08);
    border-radius: 5px;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 50%;
    bottom: -55px;
    transform: translate(-50%, 0);
    width: 100%;
    max-width: 950px; }
    main.section .section_banner .section_banner_text_wrap .section_banner_heading {
      position: relative;
      z-index: 1;
      font-size: 20px;
      font-weight: bold;
      color: #fff;
      margin-bottom: 10px; }
      main.section .section_banner .section_banner_text_wrap .section_banner_heading::before {
        position: absolute;
        left: 80px;
        bottom: 0;
        width: 45px; }
    main.section .section_banner .section_banner_text_wrap .section_banner_text {
      color: #fff; }

.footer {
  padding: 100px 0 60px;
  background-color: #3B3F50;
  color: #fff; }
  .footer .footer-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .footer .footer-wrap .footer_logo {
      display: flex;
      align-items: center;
      color: #fff; }
      .footer .footer-wrap .footer_logo img {
        width: 36px;
        height: 36px;
        margin-right: 10px; }
      .footer .footer-wrap .footer_logo p {
        font-size: 20px; }
        .footer .footer-wrap .footer_logo p span {
          text-align: center;
          display: block;
          font-size: 8px; }
    .footer .footer-wrap .footer_text {
      font-size: 12px;
      width: 100%;
      max-width: 242px; }
    .footer .footer-wrap .footer-cr {
      font-size: 12px;
      letter-spacing: 0.5px; }

/*# sourceMappingURL=style2.css.map */
