*{
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}
body {
    background: $contentBg;
    font-family: $mainFont;
}
@mixin landingLogo{
	img{
		width: 36px;
		height: 36px;
	    margin-right: 10px;
	}
	p{
		font-size: 20px;
	
		span{
		    text-align: center;
			display: block;
			font-size: 8px;
		}
	}
}
.size-wrap{
    width: 100%;
    max-width: 1240px;
    padding: 0;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.textBg{
	content: '';
	display: inline-block;
	background-color: $textBg;
	z-index: -1;
	height: 45px;
}
.button{
	background-color: $btnBg;
	color: $btnColor;
	border: 1px solid $btnBg;
	border-radius: 2px;
	padding: 10px 35px;
	font-size: 13px;
	font-weight: bold;

	&:hover{
		background-color: lighten($btnBg, 4%);
		cursor: pointer;
	}
	&:focus{
		outline: none;
		box-shadow: none;
	}
}
.button-link{

}
.header{
	background-image: $headerBg;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 100%;
	padding: 20px 0 140px;
    border-bottom-right-radius: 600px 200px;

	.header-wrap{
		@extend .size-wrap;

		.landing-logo{
			display: flex;
	    	align-items: center;
	    	margin-bottom: 60px;
			@include landingLogo;
		}

		.header_heading{
			font-family: $mainFont;
		    font-size: 56px;
        	line-height: 60px;
    		letter-spacing: 1px;
    		font-weight: bold;
    		max-width: 450px;
			margin-bottom: 25px;
			position: relative;
			z-index: 1;

			&::before{
				@extend .textBg;
				position: absolute;
				bottom: 0;
				left: 0;
				width: 240px;
			}
		}
		.header_text{
			color: $headerTextColor;
		    font-size: 14px;
	        line-height: 20px;
			white-space: pre-line;
			margin-bottom: 45px;
		}
		.header_button{
			@extend .button;
			margin-right: 115px;
		}
		.login{
			color: $whiteColor;
		}
	}
}

main.section{
	position: relative;
	padding: 30px 0 140px;

	.section_text{
		position: relative;
		z-index: 1;
		color: $titleColor;
	    font-size: 30px;
        letter-spacing: 1px;
   		font-weight: bold;
		text-align: center;
		margin-bottom: 30px;
		&::before{
			@extend .textBg;
			position: absolute;
			bottom: 0;
		    margin-left: 167px;
			width: 150px;
		}
	}
	.section_card_wrap{
	    margin: 0 auto;
	    width: 100%;
	    max-width: 890px;
		@extend .size-wrap;
		margin-bottom: 20px;

		.section_card{
			display: flex;
	    	align-items: center;
			background-color: $sectionBg;
			border-radius: 5px;
			padding: 15px;
			margin-bottom: 20px;

			.section_card_img{
			    border-radius: 4px;
			    margin-right: 70px;
			    width: 100%;
			    max-width: 340px;
			}
			.section_card_right_container{
				text-align: center;
				color: $whiteColor;

				.section_card_heading{
					font-weight: bold;
				    margin-bottom: 20px;
				}
				.section_card_text{
					text-align: left;
					margin-bottom: 15px;
				}
				.section_link{
					color: $whiteColor;
				}
			}
		}
	}
	.section_banner{
		background: $gradientBg;
		border-radius: 5px;
	    padding: 30px 100px;
    	display: flex;
    	justify-content: space-between;
    	position: absolute;
    	left: 50%;
	    bottom: -55px;
	    transform: translate(-50%, 0);
    	width: 100%;
    	max-width: 950px;

		.section_banner_text_wrap{
			.section_banner_heading{
				position: relative;
				z-index: 1;
				font-size: 20px;
				font-weight: bold;
				color: $titleColor;
				margin-bottom: 10px; 
				&::before{
					@extend .textBg;
					position: absolute;
					left: 80px;
					bottom: 0;
					width: 45px;
				}
			}
			.section_banner_text{
				color: $whiteColor;
			}
		}
		.section_banner_button{
			@extend .button;
		}
	} 
}

.footer{
	padding: 100px 0 60px;
	background-color: $sectionBg;
	color: #fff;

	.footer-wrap{
	    display: flex;
    	justify-content: space-between;
    	align-items: center;
		@extend .size-wrap;

    	.footer_logo{
    		display: flex;
	    	align-items: center;
	    	color: #fff;
    		@include landingLogo;
    	}
    	.footer_text{
		    font-size: 12px;
    		width: 100%;
    		max-width: 242px;
    	}
    	.footer-cr{
    		font-size: 12px;
    		letter-spacing: 0.5px;
    	}
	}
}
