$mainFont: 'Source Sans Pro', sans-serif;
$landingFontSize: 13px;
$firstFont: 'Hind', sans-serif;
$secondFont: 'Fresca', sans-serif;
$headerBg: url(../img/m-h-day.jpg);
$headerTextColor: #2C2F3C;
$contentBg: #fff;
$sectionBg: #21232E;
$titleColor: #2C2F3C;
$whiteColor: #fff;
$textBg: #14A0C7;
$btnBg: #699900;
$btnColor: #fff;
$gradientBg: linear-gradient(to right, #629217, #3260C6);