$mainFont: 'Source Sans Pro', sans-serif;
$landingFontSize: 13px;
$firstFont: 'Hind', sans-serif;
$secondFont: 'Fresca', sans-serif;
$headerBg: url(../img/m-h-night.jpg);
$headerTextColor: #fff;
$contentBg: #21232E;
$sectionBg: #3B3F50;
$titleColor: #fff;
$whiteColor: #fff;
$textBg: #FF4E33;
$btnBg: #E3AC00;
$btnColor: #fff;
$gradientBg: linear-gradient(to right, #DB9F08, #99374B);