$headerBg: url(../img/m-h-night.jpg);
$contentBg: #21232E;
$sectionBg: #3B3F50;
$titleColor: #fff;
$textBg: #FF4E33;
$btnBg: #E3AC00;
$btnColor: #fff;
$gradientBg: linear-gradient(to right, #99374B, #DB9F08);