$fontFamily: (
	'mainFont': 'Fresca', 
	'firstFont': 'Source Sans Pro'
);
$fontWeight: (
	'regular': 400, 
	'semibold': 600, 
	'bold': 700
);
$template: 'dark';
$landingFontSize: 13px;
$headerBg: url(../img/m-h-night.jpg);
$headerTextColor: #fff;
$contentBg: #21232E;
$sectionBg: #3B3F50;
$titleColor: #fff;
$whiteColor: #fff;
$textBg: #FF4E33;
$btnBg: #E3AC00;
$btnColor: #fff;
$gradientBg: linear-gradient(to right, #DB9F08, #99374B);