*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Merriweather', sans-serif;
	position: relative;
	background-color: #fff;
	color: #777;
    font-size: 14px;
}
a{
	color: #777;
	text-decoration: none;
}
.btn{
	background-color: #ffffff;
	display: inline-block;
	padding: 15px 25px;
	border-radius: 100px;
	font-weight: bold;
	letter-spacing: 1px;
}
.wrapper{
	width: 100%;
	max-width: 1170px;
	padding: 0 15px;
	margin: 0 auto;
}
.header{
	background-color: #fff;
	padding: 30px 0;
    position: sticky;
    top: 0;
}
.header .wrapper{
	display: flex;
	justify-content: space-between;
    align-items: center;
}
.logo a{
	color: #777;
	font-size: 20px;
	text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}
.nav__list{
    list-style: none;
}
.nav__item{
	display: inline-block;
    margin: 0 18px;
}
.nav__item:last-child{
	margin-right: 0;
}
.nav__item.active .nav__link{
	color: #bfba55;
}
.nav__link{
	color: #777;
	font-size: 16px;
	letter-spacing: 1px;
}
.nav__link:hover{
	color: #bfba55;
}
.main__block{
    background: url(../img/home-bg.jpg) no-repeat;
    background-size: cover;
    background-position: top;
    max-width: 1600px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main__block-title{
	color: #fff;
	font-size: 60px;
	text-align: center;
	margin-bottom: 15px;
}
.main__block-desc{
	color: #bfba55;
	font-size: 14px;
    letter-spacing: 1px;
	margin-bottom: 50px;
}
.main__block-btn{
	border: 1px solid #ffffff;
    color: #444;
    font-size: 11px;
    text-transform: uppercase; 
}
.main__block-btn:hover{
    background: transparent;
    color: #fff;
}
.blog{
	padding: 70px 0;
}
.blog .wrapper,
.footer .wrapper {
    max-width: 930px;
}
.blog__post{
    border-bottom: 1px solid #F8F8F8;
    padding-bottom: 60px;
    margin-bottom: 60px;
}
.blog__post:last-child{
    border-bottom: none;
	margin-bottom: 0;
    padding-bottom: 0;
}
.blog__post-image{
	margin-bottom: 30px;
}
.blog__post-image img{
	width: 100%;
}
.blog__post-title{
	font-size: 25px;
	letter-spacing: 1px;
	margin-bottom: 15px;
}
.blog__post-title a{
	color: #000;
}
.blog__post-title a:hover{
	color: #777;
}
.blog__post-info{
	margin-bottom: 25px;
}
.blog__post-info, .blog__post-info a{
	display: flex;	
	align-items: center;
}
.blog__post-info-item{
    font-size: 14px;
    letter-spacing: 0.5px;
	margin-right: 20px;
}
a.blog__post-info-item:hover {
    color: rgba(119, 119, 119, 0.8);
}
.blog__post-message-icon{
	margin-right: 5px;
}
.blog__post-info a:last-child{
	margin-right: 0;
}
.blog__post-info .autor-img{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-right: 10px;
}
.blog__post-desc{
    font-size: 14px;
    line-height: 26px;
	margin-bottom: 30px;
}
.blog__post-btn{
	padding: 13px 21px;
    font-size: 14px;
    letter-spacing: 1px;
	border: 1px solid #ccc;
    color: #777;  
}
.blog__post-btn:hover{
	background-color: #777;
    color: #fff; 
}
.footer{
	background-color: #000;
	padding: 60px 0 50px;
}
.footer .wrapper{
	display: flex;
}
.footer .footer__col, .footer .footer__col-right{
    flex: 0 0 50%;
    max-width: 50%;
}
.footer .footer__col-right{
     padding-left: 100px;
}
.footer__title{
    color: #fff;
    font-size: 24px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.footer__desc{
    display: block;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.2px;
    margin-bottom: 15px;
}
.footer__contacts{
	display: block;
	margin-bottom: 15px;
}
@media (max-width: 575.98px) { 
	.nav__item {
	    margin: 0 10px;
	}
	.nav__link {
	    font-size: 14px;
	}
	.main__block-title {
	    font-size: 32px;
	}
	.main__block-desc {
	    margin-bottom: 30px;
	}
	.blog {
	    padding: 35px 0;
	}
	.blog__post {
	    padding-bottom: 30px;
	    margin-bottom: 30px;
	}
	.blog__post-info {
	    flex-direction: column;
	    align-items: flex-start;
	}
	.blog__post-info-item {
	    margin-bottom: 10px;
	}
	.footer .wrapper {
	    flex-direction: column;
	}
	.footer .footer__col, .footer .footer__col-right {
	    flex: 0 0 100%;
	    max-width: 100%;
	}
	.footer .footer__col:first-child {
	    margin-bottom: 20px;
	}
	.footer .footer__col-right {
	    padding-left: 0;
	}
}
@media (max-width: 767.98px) { 
	.header {
	    padding: 15px 0;
	}
	.header .wrapper {
	    flex-direction: column;
	}
	.logo {
	    margin-bottom: 15px;
	}
}
