*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: '', sans-serif;
	background-color: #fff;
	color: #777;
}
a{
	color: #777;
	text-decoration: none;
}
.wrapper{
	width: 100%;
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}
.header{
	padding: 15px 0;
}
.header .wrapper{
	display: flex;
	justify-content: space-between;
    align-items: center;
}
.logo a{
	color: #777;
	font-size: 22px;
	text-transform: uppercase;
}
.nav{}
.nav__list{
    list-style: none;
}
.nav__item{
	display: inline-block;
    margin: 0 15px;
}
.nav__item:last-child{
	margin-right: 0;
}
.nav__item.active .nav__link{
	color: #bfba55;
}
.nav__link{
	color: #777;
	font-size: 14px;
}
.nav__link:hover{
	color: #bfba55;
}

.main__block{
    background: url(../img/home-bg.jpg) center no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main__block-title{
	color: #fff;
	font-size: 42px;
	margin-bottom: 15px;
}
.main__block-desc{
	color: #bfba55;
	font-size: 14px;
	margin-bottom: 25px;
}
.main__block-btn{}
.main__block-btn:hover{}

.blog{
	padding: 70px 0;
}
.blog__post{
	margin-bottom: 35px;
}
.blog__post:last-child{
	margin-bottom: 0;
}
.blog__post-image{
	margin-bottom: 20px;
}
.blog__post-image img{
	width: 100%;
}
.blog__post-title{
	margin-bottom: 10px;
}
.blog__post-title a{
	color: #000;
}
.blog__post-info{
	margin-bottom: 15px;
}
.blog__post-info, .blog__post-info a{
	display: flex;	
	align-items: center;
}
.blog__post-info a{
	margin-right: 15px;
}
.blog__post-info a:last-child{
	margin-right: 0;
}
.blog__post-info .autor-img{
	width: 35px;
	height: 35px;
	border-radius: 50%;
	margin-right: 5px;
}
.blog__post-desc{
	margin-bottom: 15px;
}
.blog__post-btn{}
.blog__post-btn:hover{}

.footer{
	background-color: #000;
	padding: 60px 0 50px;
}
.footer .wrapper{
	display: flex;
}
.footer__desc{}
.footer__copyright{}